# temp files
.DS_Store
node_modules
.artifacts
target

# env files
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
